extends ../layouts/default

block variables 
  - var title = 'О проекте'
<<<<<<< HEAD
  - var includeHomeLink = true

block content 
  p Привет
=======
  - var includeHomelink = true

block content
  h1 О проекте 
>>>>>>> 1de23038a521717823cac1e481cfccf716a47370
