<<<<<<< HEAD
mixin header(icludeHomeLink)
=======
mixin header(includeHomelink)
>>>>>>> 1de23038a521717823cac1e481cfccf716a47370
  header.header
    a.header__logo
      img(src='/images/logo.svg', alt='logo')
    nav.header__menu
      ul.header__menu-list
<<<<<<< HEAD
        if includeHomeLink
=======
        if includeHomelink
>>>>>>> 1de23038a521717823cac1e481cfccf716a47370
          li.header__menu-list-item
            a.header__menu-link(href='#') Home
        li.header__menu-list-item
          a.header__menu-link(href='#') About
        li.header__menu-list-item
          a.header__menu-link(href='#') Contacts