<<<<<<< HEAD
block variables 
=======
block variables
>>>>>>> 1de23038a521717823cac1e481cfccf716a47370

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
<<<<<<< HEAD
    title= title
    link(rel="stylesheet", href="/bundle.css")
  body.default-layout
    include ../components/header/header
    +header(includeHomeLink)
=======
    title= title 
    link(rel="stylesheet", href="/bundle.css")
  body.default-layout
    include ../components/header/header
    +header(includeHomelink)
>>>>>>> 1de23038a521717823cac1e481cfccf716a47370
    block content 
    include ../components/footer/footer
